/* color & size constants */

:root {
  --black: #262626;
  --gray: #8c8c8c;
  --border: #e6e6e6;
  --background-light: #f0f0f0;
  --background: #f9f9f9;
  --white: #ffffff;

  --font-small: 13px;
  --font-normal: 16px;
  --font-large: 20px;

  --space-small: 12px;
  --space-medium: 20px;
  --space-large: 30px;
}

/* general format */

html, body {
  margin: 0;
  min-height: 100vh;
}

body {
  background: var(--background);
  color: var(--black);
  font-family: "Segoe UI", Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* content layout */

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: var(--space-large);
  padding-bottom: 0;
}

.side {
  box-sizing: border-box;
  align-self: flex-start;
  padding: calc(var(--space-large) - 8px + 1px) 0 0;
  position: sticky;
  top: 0;
  width: 8%;
}

article {
  box-sizing: border-box;
  padding: var(--space-large);
  width: 65%;
}

section {
  margin-top: var(--space-medium);
}

summary {
  display: inline-block;
  margin: var(--space-small);
  margin-right: 0;
}

summary section {
  margin-top: var(--space-small);
}

/* sidebar format */

.side a {
  box-sizing: border-box;
  color: var(--gray);
  display: block;
  font-size: var(--font-normal);
  margin-top: var(--space-small);
  padding: 8px;
  padding-right: 0;
}

.side a:first-of-type {
  margin-top: 0;
}

.side a:hover {
  color: var(--black);
}

.side a.current {
  background: var(--background-light);
  border-color: var(--black);
  border-style: solid;
  border-width: 0 3px 0 0;
  color: var(--black);
  font-weight: bold;
}

/* article format */

article {
  background: var(--white);
  border-color: var(--border);
  border-style: solid;
  border-width: 1px;
}

article span.category {
  color: var(--gray);
  display: block;
  font-size: var(--font-normal);
  font-weight: bold;
  margin-bottom: var(--space-small);
}

article > section:first-of-type {
  margin-top: 0px;
}

/* section format */

section h1 {
  font-size: var(--font-large);
  margin: 0;
}

section ul.metadata {
  font-size: var(--font-normal);
  margin: 0;
  padding: 0;
}

section ul.metadata li {
	display: inline-block;
}

section ul.metadata li + li:before {
	content: "\00a0\00a0\2022\00a0\00a0";
}

/* summary format */

summary p {
  font-size: var(--font-normal);
  margin-top: var(--space-small);
  margin-bottom: 0;
}

summary > p:first-of-type {
  margin-top: 0px;
}

summary > section:first-of-type {
  margin-top: 0px;
}

summary figure {
  float: left;
  margin: 0;
  margin-right: var(--space-small);
}

summary figcaption {
  color: var(--gray);
  font-size: var(--font-small);
  text-align: center;
}

/* subsection format */

summary section h1 {
  font-size: var(--font-normal);
  font-weight: bold;
}
